 body {
    color: darkgray;
    background-color: darkblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30;
}

 h1 {
     color: red;
     text-decoration: underline;
    font-family: cursive;
    }

 h2 {
     color: hotpink;
     font-family: cursive;
 }

 h3 {
     color: lawngreen;
 }
 #first-note {
     color: magenta;
 }
 #summary {
     color: yellow;
 }

 .underline {
     text-decoration: underline
 }

 #endnote {
     color: white;
     font-family: fantasy;
     font-size: 10cm;
 }